extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at magna nibh. Nam erat eros, dapibus vitae sem sed, maximus maximus est. Suspendisse ac turpis quis mauris aliquet rhoncus a at augue. 
                Proin quis ipsum orci. Nunc urna mi, pellentesque nec mi ut, volutpat cursus tortor. Mauris ut convallis libero. Praesent at eros in augue fringilla sodales at ullamcorper justo. Nunc pharetra ullamcorper elit, eget efficitur leo convallis nec.
                
                p Vestibulum nisl nibh, venenatis non ligula et, imperdiet efficitur tortor. Etiam metus quam, malesuada in turpis a, commodo varius risus. Quisque in velit tempus, tincidunt ex efficitur, cursus mauris. Ut interdum imperdiet nulla. Vivamus cursus 
                lectus nunc, sed consectetur risus accumsan eu. Maecenas sollicitudin quam quis ligula convallis imperdiet. Etiam et pellentesque eros, nec luctus nulla. Morbi maximus nulla cursus metus volutpat, ut consectetur velit porttitor. Quisque eu molestie 
                p justo, auctor sodales lacus. Pellentesque vehicula est enim, volutpat feugiat mi efficitur vel. Nullam sodales pharetra ligula nec posuere.
                Ut blandit metus quis turpis vulputate posuere. Curabitur vitae augue vel orci facilisis mattis vitae a velit. Morbi ut porta enim. Vestibulum a blandit tortor, sit amet pulvinar erat. Aenean pretium hendrerit dolor efficitur varius. 
                Donec porttitor egestas massa id iaculis. Vestibulum tincidunt accumsan felis, eget congue massa volutpat id. Phasellus quis elit ac odio porttitor varius sed at urna.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum nisl nibh, venenatis non ligula et, imperdiet efficitur tortor. Etiam metus quam, malesuada in turpis a, commodo varius risus. Quisque in velit tempus, tincidunt ex efficitur, cursus mauris. Ut interdum imperdiet nulla. Vivamus cursus 
                
                .col-md-4 
                    img(src="img/icono_destinos.svg",alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Vestibulum nisl nibh, venenatis non ligula et, imperdiet efficitur tortor. Etiam metus quam, malesuada in turpis a, commodo varius risus. Quisque in velit tempus, tincidunt ex efficitur, cursus mauris. Ut interdum imperdiet nulla. Vivamus cursus 


                .col-md-4 
                    img(src="img/icono_precios.svg",alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Vestibulum nisl nibh, venenatis non ligula et, imperdiet efficitur tortor. Etiam metus quam, malesuada in turpis a, commodo varius risus. Quisque in velit tempus, tincidunt ex efficitur, cursus mauris. Ut interdum imperdiet nulla. Vivamus cursus 
